{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1 style="border:1px gray solid;">Edit Product</h1>

    <div style="width:40%;margin:auto;">
        <div style="margin-top:20px;">
            <div>
                {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <div style="display:flex;margin-top:10px;">
                <div style="width:10%;">
                    <a href="{{ path('app_product_index') }}" class="btn btn-info">Return</a>
                </div>
                <div>
                    {{ include('product/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
