{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 style="border:1px gray solid;">Creation nouvel utilisateur</h1>
    <div style="width:50%;margin:auto;">
        <div>
            <div>
                {{ include('user/_form.html.twig') }}
            </div>
            <div style="margin-top:10px;">
                <a href="{{ path('app_user_index') }}" class="btn btn-info">Return</a>
            </div>
        </div>
    </div>
{% endblock %}
